@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

body {
    background: rgb(10, 9, 35);
}

.info-panel {
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
}

.bottom-page {
    display: flex;
    /* Enable flexbox */
    flex-wrap: wrap;
    /* Allow wrapping of items */
    position: fixed;
    bottom: 0;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    /* Center items vertically */
    width: 100%;
}

.claim-button {
    width: 100%;
    height: 60px;
    background: #191D46;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
    font-size: 15px;
    font-weight: 800;
}

.menu {
    width: 100%;
    height: 60px;
    background: #191D46;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center items vertically */
}

ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
    background: none;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 30px;
}

.active {
    color: #00F2FF;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;
}
.quasar {
    width: 97px;
    height: 97px;
    background-color: #00F2FF;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 72px 20px #00F2FF;
}
.planet {
    border-radius: 50%;
    position: absolute;
}

.planet1 {
    animation-delay: 0s;
}
.planet2 {
    animation-delay: 2s;
}
.planet3 {
    animation-delay: 4s;
}
@keyframes orbit1 {
    0% {
        transform: rotate(0deg) translateX(90px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(90px) rotate(-360deg);
    }
}

@keyframes orbit2 {
    0% {
        transform: rotate(0deg) translateX(140px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(140px) rotate(-360deg);
    }
}

@keyframes orbit3 {
    0% {
        transform: rotate(0deg) translateX(190px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(190px) rotate(-360deg);
    }
}
.planet-1 {
    width: 38px;
    height: 38px;
    background: #72D3D8;
    box-shadow: 0 0 13.8px 0 #72D3D8;
    animation: orbit1 linear infinite;
}

.planet-2 {
    width: 38px;
    height: 38px;
    background: #72D8B3;
    box-shadow: 0 0 13.8px 0 #72D8B3;
    animation: orbit2 linear infinite;

}

.planet-3 {
    width: 38px;
    height: 38px;
    background: #7283D8;
    box-shadow: 0 0 13.8px 0 #7283D8;
    animation: orbit3 linear infinite;
}

.orbit-1 {
    position: absolute;
    width: 183px;
    height: 183px;
    border-radius: 50%;
    border: .5px solid #fff;
    box-shadow: 0 0 21.5 2 #fff;
}

.orbit-2 {
    position: absolute;
    width: 278px;
    height: 278px;
    border-radius: 50%;
    border: .5px solid #fff;
    box-shadow: 0 0 21.5 2 #fff;
}

.orbit-3 {
    position: absolute;
    width: 375px;
    height: 375px;
    border-radius: 50%;
    border: .5px solid #fff;
    box-shadow: 0 0 21.5 2 rgb(255, 255, 255, 25);
}

.tasks {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.task {
    width: 100%;
    height: 77px;
    background: #191D46;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 24.1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-info {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-button {
    padding: 15px 30px;
    border-radius: 26px;
    background: #000000ca;
    border: none;
}

.logo-indfo {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.logo a {
    font-size: 47px;
}

.text-info {
    line-height: 20px;
}

h5 {
    color: gray;
}

.task-active {
    background-color: #00f2ffd7;
    
}